.CFGsidebar {
  position: relative;
  margin: 60px;
  width: 320px;
  max-height: 40%;
  background-color: #333332;
  border-radius: 25px;
  object-fit: contain;
}

#clicker {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.icon:hover {
  cursor: pointer;
  background-color: #4f4f4d;
}

#oval {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

#rectangle {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#diamond {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#text {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#true {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#false {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#arrow {
  width: 40px;
  height: 40px;
}