.textbook-content {
  margin: 0 auto;
  max-width: 50%;
  padding: 30px 15px 40px;
  position: relative;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
	span {
		color: #0091ff !important;
	}
}

img {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
}