.textbook-content {
  margin-left: 300px;
  max-width: 100%;
  padding: 30px 15px 40px;
  position: relative;
  text-align: left;
  background-color: #242424;
  color: silver;
}

@media (prefers-color-scheme: dark) {
	span {
		color: #0091ff !important;
	}
}

img {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
}